@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Client Details:</h2>

<h4>Name: @Model.GetName()</h4>
<h4>Phone: @Model.GetPhone()</h4>

<h3><a href="/clients/new">Add New</a> | <a href="/">Return Home</a></h3>
