@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this client?</h2>

<form action="/client/delete/@Model.GetId()" method="post">
    <div class="form-group edit-name">
        <label><h2>@Model.GetName()</h2></label>
      <input type="hidden" name="_method" value="DELETE">
    </div>
<div class="buttons">
     <button class="btn btn-lg btn-primary" type="submit">Delete</button>
</div>
</form>
<h3><a href="/">Return Home</a></h3>
