@{
  Layout="Shared/_Layout.cshtml";
}
<h2>Client List</h2>
@if (@Model.Count == 0)
{
  <h4>No clients have been added yet!</h4>
}
  <ul>
    @foreach (var client in Model)
    {
      <li><a href="/clients/@client.GetId()">@client.GetName()</a> | <a href="/client/edit/@client.GetId()">Edit</a> | <a href="/client/delete/@client.GetId()">Delete</a></li>
    }
    </ul>
<form action="/clients/delete" method="post">
<button class="btn btn-lg btn-primary" type="submit">Clear All Clients</button>
</form>

<h3><a href="/clients/new">Add A Client</a> | <a href="/">Return Home</a></h3>
