@{
    Layout="Shared/_Layout.cshtml";
}

<div class="mainpics">
<img class="mainpic1" src="../Contents/images/salon.jpg">
<img class="mainpic2" src="../Contents/images/girl.jpg">
</div>

<h3><a class="transbox1" href="/stylists">View Stylists</a> <a class="transbox2" href="/clients">View Clients</a></h3>
