@{
    Layout="Shared/_Layout.cshtml";
}

<h2>Edit Stylist: @Model.GetName()</h2>
<form action="/stylist/edit/@Model.GetId()" method="post">
    <div class="form-group">
        <input type="hidden" name="_method" value="PATCH">
        <input name="stylist-id" type="hidden" value="@Model.GetId()">
        <label for="stylist-name">Stylist name:
            <input id="stylist-name" name="stylist-name" type="text"></label>
        <label for="stylist-phone">Stylist phone:
            <input id="stylist-phone" name="stylist-phone" type="text"></label>
        </div>
        <div class="buttons">
            <button class="btn btn-lg btn-primary" type="submit">Edit</button>
        </div>
    </form>
