@{
  Layout="Shared/_Layout.cshtml";
}

<h2>All Stylists</h2>
@if (@Model.Count == 0)
{
  <h2>There are no stylists at this time.</h2>
}
<ul>
  @foreach (var stylist in Model)
  {
    <li><a href="/stylist/@stylist.GetId()">@stylist.GetName()</a> | <a href="/stylist/edit/@stylist.GetId()">Edit</a> | <a href="/stylist/delete/@stylist.GetId()">Delete</a></li>
  }
</ul>

<h3><a href="/stylists/new">Add A Stylist</a> |  <a href="/">Return Home</a></h3>

<form action="/stylists/delete" method="post">
<button class="btn btn-lg btn-primary" type="submit">Clear All</button>
</form>
