@{
  Layout="Shared/_Layout.cshtml";
}

@if (@Model["clients"].Count == 0)
{
  <h2>No clients have been added for @Model["stylist"].GetName() yet!</h2>
}
else
{
<h2>Clients for @Model["stylist"].GetName():</h2>

@foreach (var client in Model["stylist"].GetClients())
{
    <h2><a href="/clients/@client.GetId()">@client.GetName()</h2>
}
 }
<h3><a href="/stylists/new">Add New Stylist</a> | <a href="/clients/new">Add New Client</a> | <a href="/">Return Home</a></h3>
