@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Add a New Stylist</h2>

<form action="/stylists/new" method="post">
<div class="form-group">
  <label for="stylist-name">Stylist Name
  <input id="stylist-name" name="stylist-name" type="text"></label>
</div>
<div class="form-group">
  <label for="stylist-phone">Stylist Phone Number
  <input id="stylist-phone" name="stylist-phone" type="text"></label>
  <br>
  <button class="btn btn-lg btn-primary" type="submit">Add</button>
</div>
</form>
<h3><a href="/">Return Home</a></h3>
